@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Calibri;
    font-size: 14pt;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    
}

main{
    box-sizing: border-box;
}

h1{
    margin-bottom: 6vh;
    user-select: none;
    font-size: 30pt;
}


i{
    font-size: 26pt;
}

a{
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover{
    text-decoration: underline;
    color: #585c8a;
    text-shadow: 1px 1px lightgray;
}

.additional{
    height: 110px;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    border-top: 1px solid black; 
    height: 75px;;
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    background-color: white;
}