/*-------------------------------------------------------BODY--------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*
{
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0 auto;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 15pt;
    background-color: #C0D9D9;
}

/*-------------------------------------------------------HEADER--------------------------------------------------------*/

header
{
    width:70%;
    margin: 0 auto;

}

.napis_head
{
    float: left;
    width: 33%;
    padding-top: 4%;
    font-size: 4vw;
    font-family: 'Pacifico', cursive;
    color: #63544f;
}

figure
{
    width: 33%;
    float: left;
}

.aparat_head
{
    width: 24vw;
}

nav
{
    width: 100%;
    clear: both;
    opacity: 0;
    color: black;
    height: 0cm;
    animation-name: menu_animacja_back;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.nav_divs
{
    height: 18%;
}

a
{
    color: #63544f;
    text-decoration: none;
    font-size: 1vw;
    animation-name: linki_animacja_back;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear; 
}

a:hover
{
    animation-name: linki_animacja;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;    
}

.div_do_animacji:hover > nav
{
    animation-name: menu_animacja;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.tytul_projektu
{
    font-size: 5vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    color: #63544f;
}

.div_do_animacji
{
    float: left;
    width: 34%;
}

@keyframes menu_animacja
{
    0%{height: 0cm; opacity: 0; padding-top: 0cm;}
    50%{height: 4cm;  opacity: 0.5; padding-top: 0.3cm;}
    100%{height: 8cm;  opacity: 1; padding-top: 0.6cm;}
}

@keyframes menu_animacja_back
{
    0%{height: 8cm;  opacity: 1; padding-top: 0.6cm;}
    50%{height: 4cm;  opacity: 0.5; padding-top: 0.3cm;}
    100%{height: 0cm;  opacity: 0; padding-top: 0cm;}
}

@keyframes linki_animacja
{
    0%{font-size: 2.1vw; color: #63544f;}
    50%{font-size: 2.2vw; color: #63544f;}
    100%{font-size: 2.3vw; color: #e3decb;}
}
@keyframes linki_animacja_back
{
    0%{font-size: 2.3vw; color: #e3decb;}
    50%{font-size: 2.2vw; color: #63544f;}
    100%{font-size: 2.1vw; color: #63544f;}
}